@charset "UTF-8";
@import url("./bootstrap.min.css");
@font-face {
  font-family: "AdobeMingStd";
  src: url("./../fonts/AdobeMingStd-Light.otf") format("opentype");
  font-weight: lighter;
}

@font-face {
  font-family: "Arial-bold";
  src: url("./../fonts/Arial Bold.ttf") format("truetype");
  font-weight: bold;
}

* {
  font-size: 1vw;
  line-height: 1.4;
  font-family: Arial, '微軟正黑體', 'AdobeMingStd';
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img.bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-color {
  color: #0087A6;
}

.secondary-color {
  color: #4C4948;
}

.bg-main-color {
  background-color: #0087A6;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  font-family: '微軟正黑體';
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

body {
  padding-top: 97px;
}

#wrapper {
  width: 1920px;
  margin: 0 auto;
  border: 1px solid #000;
}

/* contact-us */
#contact-us-box {
  margin: auto;
}

#contact-us-box .content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #4C4948;
}

#contact-us-box .content h5 {
  margin-bottom: 15px;
}

#contact-us-box .content P {
  letter-spacing: 1.5px;
  font-family: "微軟正黑體";
}

#contact-us-box .bi.bi-envelope {
  margin-bottom: -3px;
}

footer {
  background-color: #fff;
  padding-top: 9rem;
  padding-bottom: 3rem;
  color: #4C4948;
}

footer #footer-logo {
  position: absolute;
  top: -110px;
  right: 0;
  width: 160px;
}

footer #footer-logo img {
  width: 100%;
  height: auto;
}

footer .text-grey {
  color: #d0d0d0;
}

@media screen and (max-width: 480px) {
  * {
    font-size: 13.5px;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 17px;
  }
  /* contact-us */
  #contact-us-box {
    width: 100%;
    padding: 0 25px;
  }
  #contact-us-box h2 {
    font-size: 26px;
  }
  #contact-us-box h5 {
    font-size: 15px;
  }
  #contact-us-box .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact-us-box .content p {
    font-size: 13px;
  }
  footer {
    padding-top: 3rem;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  footer .container #footer-logo {
    position: static;
  }
  footer .container #footer-logo img {
    width: 71%;
    height: auto;
  }
  #wrapper {
    width: auto;
  }
}

/* Nav */
.navbar {
  height: 97px;
  background: #fff;
}

.navbar > div {
  width: 1920px;
}

.navbar .nav-item a {
  font-weight: bold;
}

.navbar a {
  font-size: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.navbar a:hover {
  color: #7d7d7d !important;
}

.navbar.navbar-dark .navbar-nav .nav-link, .navbar.navbar-dark .navbar-nav .active > .nav-link {
  color: #303030;
}

.navbar.navbar-dark .navbar-nav .active {
  border-bottom: 3px solid #0087A6;
}

.navbar.navbar-dark .navbar-nav .active > .nav-link {
  color: #0087A6;
}

#login a,
#lang a {
  text-decoration: none;
  -webkit-transition: all .5s;
  transition: all .5s;
  color: #303030;
}

#tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 65px;
}

#tool #login a {
  border: 1px solid #303030;
  border-top-left-radius: 14px;
  border-bottom-right-radius: 14px;
  width: 134px;
  line-height: 1.9;
  text-align: center;
}

#tool #login.active a {
  border-width: 0;
  background-color: #0087A6;
  color: #fff !important;
}

#tool #login.active a:hover {
  color: #fff !important;
}

@media screen and (max-width: 480px) {
  /* Nav */
  .navbar a {
    font-size: 13.5px;
  }
  .navbar-toggler {
    background: #ddd;
  }
  #navbarCollapse {
    background-color: #ddd;
    padding: 10px 20px 30px;
    width: 100vw !important;
    position: absolute;
    left: 0;
    top: 96px;
  }
}

#banner {
  min-height: 540px;
  background-color: #CFD0D0;
  width: 100%;
}

#banner #banner-title-box {
  width: 80%;
  min-height: 540px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: rgba(0, 135, 166, 0.8);
  color: white;
}

#banner #banner-title-box article {
  width: 66%;
  padding-top: 70px;
}

#banner #banner-title-box article #caption {
  margin-bottom: 40px;
}

#banner #banner-title-box article dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#banner #banner-title-box article dl dt {
  width: 37%;
}

#banner #banner-title-box article dl dt img {
  width: 100%;
}

#banner #banner-title-box article dl dd {
  width: 60%;
}

#banner #banner-title-box article dl dd h2 {
  margin-bottom: 20px;
}

#banner #banner-title-box article p {
  margin-bottom: 40px;
  display: inline-block;
  font-size: 1.25rem;
}

#banner #banner-title-box article p .font-weight-bold {
  font-size: 1.25rem;
}

#banner #banner-title-box article a {
  color: white;
}

#banner #banner-title-box article a:hover {
  color: #bfbfbf;
  text-decoration: none;
}

#contact-us-box {
  margin-top: 80px;
}

@media screen and (max-width: 480px) {
  #banner {
    height: auto;
    background-size: cover;
  }
  #banner #banner-title-box {
    padding: 35px 0;
    width: 90%;
  }
  #banner #banner-title-box article {
    width: 70vw;
  }
  #banner #banner-title-box article #caption {
    margin-bottom: 30px;
  }
  #banner #banner-title-box article #caption h1 {
    font-size: 28px;
  }
  #banner #banner-title-box article dl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #banner #banner-title-box article dl dt {
    width: 100%;
    margin-bottom: 20px;
  }
  #banner #banner-title-box article dl dt img {
    width: 100%;
  }
  #banner #banner-title-box article dl dd {
    width: 100%;
  }
  #banner #banner-title-box article dl dd h2 {
    margin-bottom: 20px;
  }
  #banner #banner-title-box article p {
    margin-bottom: 20px;
    font-size: 12px;
  }
  #banner #banner-title-box article p .font-weight-bold {
    font-size: 12px;
  }
}
/*# sourceMappingURL=page4-1.css.map */