@charset "UTF-8";
@import url("./bootstrap.min.css");
@font-face {
  font-family: "AdobeMingStd";
  src: url("./../fonts/AdobeMingStd-Light.otf") format("opentype");
  font-weight: lighter;
}

@font-face {
  font-family: "Arial-bold";
  src: url("./../fonts/Arial Bold.ttf") format("truetype");
  font-weight: bold;
}

.main-color {
  color: #0087A6;
}

.secondary-color {
  color: #4C4948;
}

.bg-main-color {
  background-color: #0087A6;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  font-family: '微軟正黑體';
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

* {
  font-family: Arial, '微軟正黑體', 'AdobeMingStd';
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img.bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  padding-top: 97px;
}


footer {
  background-color: #fff;
  padding-top: 9rem;
  padding-bottom: 3rem;
  color: #4C4948;
}

footer #footer-logo {
  position: absolute;
  top: -110px;
  right: 0;
  width: 160px;
}

footer #footer-logo img {
  width: 100%;
  height: auto;
}

footer .text-grey {
  color: #d0d0d0;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 17px;
  }
  
  footer {
    padding-top: 3rem;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  footer .container #footer-logo {
    position: static;
  }
  footer .container #footer-logo img {
    width: 71%;
    height: auto;
  }
}

/* Nav */
.navbar {
  height: 97px;
  background: #fff;
}

.navbar a:hover {
  color: #575757 !important;
}

.navbar.navbar-dark .navbar-nav .nav-link, .navbar.navbar-dark .navbar-nav .active > .nav-link {
  color: #717071;
}

.navbar.navbar-dark .navbar-nav .active {
  border-bottom: 3px solid #0087A6;
}

.navbar.navbar-dark .navbar-nav .active > .nav-link {
  color: #0087A6;
}

#login a,
#lang a {
  text-decoration: none;
  -webkit-transition: all .5s;
  transition: all .5s;
  color: #717071;
}

#tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 65px;
}

#tool #login a {
  border: 1px solid #717071;
  border-top-left-radius: 14px;
  border-bottom-right-radius: 14px;
  width: 134px;
  line-height: 1.9;
  text-align: center;
}

#tool #login.active a {
  border-width: 0;
  background-color: #0087A6;
  color: #fff !important;
}

#tool #login.active a:hover {
  color: #fff !important;
}

@media screen and (max-width: 480px) {
  .navbar-toggler {
    background: #ddd;
  }
  #navbarCollapse {
    background-color: #ddd;
    padding: 10px 20px 30px;
    width: 100vw !important;
    position: absolute;
    left: 0;
    top: 96px;
  }
}

#banner {
  height: 920px;
  background: url("../img/page4_banner.jpg") center/230% no-repeat;
  width: 100%;
}

#banner #banner-title-box {
  width: 80%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: rgba(0, 135, 166, 0.8);
  color: white;
  overflow-y: auto;
}

#banner #banner-title-box article {
  width: 66%;
  padding-top: 70px;
}

#banner #banner-title-box article #caption {
  margin-bottom: 40px;
}

#banner #banner-title-box article #time-line {
  padding-top: 20px;
  position: relative;
  height: 100%;
}

#banner #banner-title-box article #time-line hr {
  position: absolute;
  width: 1px;
  height: 100%;
  border-left: 1px solid #fff;
  top: 20px;
  left: 165px;
}

#banner #banner-title-box article ul {
  padding-bottom: 20px;
}

#banner #banner-title-box article ul h4 {
  margin-bottom: 45px;
}

#banner #banner-title-box article ul h4 div {
  display: inline-block;
  letter-spacing: 1.1px;
}

#banner #banner-title-box article ul h4 div:nth-child(1) {
  font-family: "Arial";
}

#banner #banner-title-box article ul h4 div:nth-child(2) {
  position: relative;
  width: 55px;
  height: 25px;
}

#banner #banner-title-box article ul h4 div:nth-child(2) span {
  position: absolute;
  width: auto;
  height: 100%;
  left: 50%;
  margin-left: -15%;
  top: 0;
}

#banner #banner-title-box article ul h4 div:nth-child(3) {
  font-family: "微軟正黑體";
  font-weight: normal;
}

#banner #banner-title-box article ul h4 div:nth-child(3) a {
  color: #fff;
}

#banner #banner-title-box article ul h4 div:nth-child(3) a:hover {
  color: #b0b0b0;
  text-decoration: none;
}



@media screen and (max-width: 480px) {
  #banner {
    background-size: cover;
  }
  #banner #banner-title-box {
    padding: 35px 0;
    width: 90%;
  }
  #banner #banner-title-box article {
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
  }
  #banner #banner-title-box article #caption {
    margin-bottom: 30px;
  }
  #banner #banner-title-box article #caption h1 {
    font-size: 28px;
  }
  #banner #banner-title-box article #time-line {
    width: 100%;
    padding-top: 0;
  }
  #banner #banner-title-box article #time-line ul {
    overflow: hidden;
    padding: 0 25px 0 20px;
  }
  #banner #banner-title-box article #time-line ul li {
    overflow: hidden;
  }
  #banner #banner-title-box article #time-line hr {
    left: 12.5vw;
  }
  #banner #banner-title-box article ul h4 {
    width: 80%;
    float: right;
  }
  #banner #banner-title-box article ul h4 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #banner #banner-title-box article ul h4 div:nth-child(1) {
    font-size: 17px;
  }
  #banner #banner-title-box article ul h4 div:nth-child(2) {
    height: 3px;
  }
  #banner #banner-title-box article ul h4 div:nth-child(2) span {
    left: -8vw;
  }
  #banner #banner-title-box article ul h4 div:nth-child(3) {
    font-size: 15px;
  }
}
/*# sourceMappingURL=page4.css.map */